.realbig-slider-container {
  width: 90%;
  position: relative;
  margin: 5% auto 0; }
  .realbig-slider-container .realbig-slider {
    width: 100%;
    position: relative;
    padding-top: 60%;
    overflow: hidden; }
    .realbig-slider-container .realbig-slider .inner {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
      .realbig-slider-container .realbig-slider .inner .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        opacity: 0; }
        .realbig-slider-container .realbig-slider .inner .slide.active, .realbig-slider-container .realbig-slider .inner .slide.left, .realbig-slider-container .realbig-slider .inner .slide.right {
          z-index: 2;
          opacity: 1; }
        .realbig-slider-container .realbig-slider .inner .slide.left {
          left: -100%;
          right: 0; }
        .realbig-slider-container .realbig-slider .inner .slide.right {
          right: -100%;
          left: auto; }
    .realbig-slider-container .realbig-slider.transition .slide {
      -webkit-transition-property: right, left, margin;
              transition-property: right, left, margin; }
      .realbig-slider-container .realbig-slider.transition .slide.left {
        left: 0%; }
      .realbig-slider-container .realbig-slider.transition .slide.right {
        right: 0%; }
      .realbig-slider-container .realbig-slider.transition .slide.shift-right {
        right: 100%;
        left: auto; }
      .realbig-slider-container .realbig-slider.transition .slide.shift-left {
        left: 100%;
        right: auto; }
      .realbig-slider-container .realbig-slider.transition .slide.js-reset-left {
        left: auto; }
    .realbig-slider-container .realbig-slider .arrow {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      z-index: 5;
      border-top: 3px solid #fff;
      border-right: 3px solid #fff;
      cursor: pointer;
      -webkit-transition: border-color 0.3s ease-out;
              transition: border-color 0.3s ease-out; }
      .realbig-slider-container .realbig-slider .arrow:hover {
        border-color: #93278f; }
      .realbig-slider-container .realbig-slider .arrow.arrow-left {
        left: 20px;
        -webkit-transform: rotate(225deg);
            -ms-transform: rotate(225deg);
                transform: rotate(225deg); }
      .realbig-slider-container .realbig-slider .arrow.arrow-right {
        right: 20px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .realbig-slider-container .realbig-slider .indicators {
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 4;
      padding: 0;
      text-align: center; }
      .realbig-slider-container .realbig-slider .indicators li {
        width: 13px;
        height: 13px;
        display: inline-block;
        margin: 5px;
        background: #fff;
        list-style-type: none;
        border-radius: 50%;
        cursor: pointer;
        -webkit-transition: background 0.3s ease-out;
                transition: background 0.3s ease-out; }
        .realbig-slider-container .realbig-slider .indicators li.active {
          background: #93278f; }
        .realbig-slider-container .realbig-slider .indicators li:hover {
          background-color: #2b2b2b; }
/*# sourceMappingURL=simple-slider.css.map */